header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
  color: var(--header-main-color);
  padding: 10px 30px;
  z-index: 100;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 480px) {
  header {
    padding: 10px 15px;
  }
}

@media (max-width: 450px) {
  header h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  header h1 {
    font-size: 1rem;
  }
}

header button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: var(--header-main-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.267);
}
