.window {
  max-width: 48%;
  flex: 1;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--secondary-color);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.19);
  color: var(--font-main-color);
}

@media (max-width: 375px) {
  .window .topToolBar .dotsContainer h2,
  .window p {
    font-size: 0.75rem !important;
  }
  .window {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 700px) {
  .window {
    max-width: 100%;
  }
}

.window h2 {
  font-size: 1rem;
  margin: 0 8px;
}

.window .topToolBar .buttonsContainer {
  display: flex;
  gap: 7px;
}
.window button {
  display: flex;
  gap: 3px;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  color: var(--font-main-color);
  font-size: 1rem;
  padding: 3px 6px;
  background-color: var(--buttons-color);
  transition: background-color 0.2s;
}

.window .clearButton {
  background-color: #f56565;
  color: var(--font-main-color);
  border-color: #f56565;
}

.window .clearButton:hover {
  background-color: #cd5454;
}

.window button:hover {
  background-color: rgb(193, 193, 193);
  transition: scale 0.1s;
}

.window button:active {
  scale: 0.92;
}

.topToolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.dotsContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 10px;
}

.window .topToolBar .dotsContainer p {
  margin-left: 8px;
}

.redDot,
.yellowDot,
.greenDot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.redDot {
  background-color: #fe5f57;
}

.yellowDot {
  background-color: #febc2e;
}

.greenDot {
  background-color: #28c840;
}

.window .upload {
  display: none;
}
